body {
  margin: 0;
  padding: 0;
}

header{
  background: #660099 url(images/header_transparent.png);
  height: 360px;
  box-shadow: 0 -100px 100px 20px white inset;
  transition: all 8s;
}

header h1{
  display: none;
}

footer{
  height: 10px;
  color: white;
  background-color: #660099;
  transition: all 8s;
  margin: 0;
  width: 900px;
  margin-left: 190px;
  margin-top: 30px;
  height: 30px;
  padding-right: 60px;
  align: right;
  align-items: center;
}



.container{
  display: -webkit-flex;
  display: flex;
  width: 960px;
  padding-left: 190px;
  justify-content: space-between;
}
.bodycontent{
  padding: 50px;
}

p{
  font-family: 'Playfair Display', serif;
}

a {
  font-family: 'Playfair Display', serif;
}

ul {
  font-family: 'Playfair Display', serif;
}

.indent {
  padding-left: 30px;
}

#grade{
  color: #660099;
}

h1{
  font-family: 'Montserrat', sans-serif;
  background-color: #660099;
  color: white;
  padding: 5px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  background-color: #660099;
  color: white;
  padding: 3px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  background-color: #660099;
  color: white;
  padding: 3px;
}

.header{
  background-color: #660099;
  width: 2000px;
  height: 300px;
}

.headshot {
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 50px;
}


.hometext {
  float: right;
  width: 600px;
  padding-top: 30px;
  padding-right: 100px;
}

.textbox{
  margin: 0 30px;
  width: 930px;
  padding-left: 120px;
}

.btn {
  padding: 10px;
  font: Helvetica;
  font-size: 16pt;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  background-color:transparent;
}

button:hover {
  background-color: #7b51a0;
}

#navbar {
  text-align: center;
}

#navbar ul {
	display: inline-block;
	margin: 10px 0;
	padding: 0;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #660099;

}

#navbar li {
	display: inline-block;
  margin: 0 30px;
}

#navbar a:hover{

}



.socialmedia{
  float: right;
  padding-right: 100px;
}

ul {
  list-style-type: none;
  padding-left: 50px;
}

#logo {
  padding: 30px;
  padding-left: 150px;
}

#socilamedia img{
  display: inline-block;
  align-items: center;
  margin: 0 10px;
}


#youtube{
  width: 350px;
}

#music{
  width: 600px;
}


.p {
  margin-top: 60px;
}

#fullbody{
  width: 960px;
  padding-left: 190px;
}

.resumeheader{
  font-family: 'Montserrat', sans-serif;
  font-size: 30;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 200px;
  font-family: 'Playfair Display', serif;
}



span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Playfair Display', serif;
}


ul.img-list li:hover span.text-content {
  opacity: 1;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  font-family: 'Playfair Display', serif;
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
